/* /Components/Profile.razor.rz.scp.css */
.profile-img[b-390ft7y6oa] {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    scale: .9;
    transform-origin: center;
    background: url('images/profile_img.png');
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 20%;
    box-shadow: 1px 1px 15px 10px hsl(220, 40%, 30%);
    box-sizing: content-box;
    background-repeat: no-repeat;
    transition: scale 0.5s;
}

div:has(>.profile-img):hover .profile-img[b-390ft7y6oa] {
    scale: 1;
}
/* /Components/ProjectsHero.razor.rz.scp.css */
.wrapper[b-l8ssf5f51j] {
    width: 100%;
    height: 36em;
    border-radius: 10px;
    position: relative;
}

.wrapper-bg-image[b-l8ssf5f51j] {
    position: absolute;
    background-image: url('images/bg_geometry.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 20%;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .wrapper[b-l8ssf5f51j] {
        height: 24em;
    }
}
/* /Layout/ChristmasFormLayout.razor.rz.scp.css */
body[b-u5203x338b], html[b-u5203x338b] {
    height: 100vh;
    display: flex;
    overflow: hidden!important;
}

.sleigh[b-u5203x338b] {
    font-size: 3rem;
    color: transparent; /*set color to transparent to re-color emojis*/
    text-shadow: 0 0 0 #06223f; /*recolor emojis*/
}

.santa[b-u5203x338b] {
    animation-name: up-b-u5203x338b, across-b-u5203x338b;
    animation-duration: 10s, 6.5s;
    animation-timing-function: ease-in-out, linear;
    animation-iteration-count: 1, 1;
    animation-delay: 3s, 5s;
    position: absolute;
    right: -80px;
    top: 100px;
    z-index: 2;
    filter: blur(1px);
}

.santa1[b-u5203x338b] {
    animation-name: up-b-u5203x338b, across-b-u5203x338b;
    animation-duration: 10s, 6.5s;
    animation-timing-function: ease-in-out, linear;
    animation-iteration-count: 1, 1;
    animation-delay: 3.2s, 5.1s;
    position: absolute;
    right: -80px;
    top: 100px;
    z-index: 2;
    filter: blur(1px);
}

.santa2[b-u5203x338b] {
    animation-name: up-b-u5203x338b, across-b-u5203x338b;
    animation-duration: 10s, 6.5s;
    animation-timing-function: ease-in-out, linear;
    animation-iteration-count: 1, 1;
    animation-delay: 3.4s, 5.2s;
    position: absolute;
    right: -80px;
    top: 100px;
    z-index: 2;
    filter: blur(1px);
}

.santa3[b-u5203x338b] {
    animation-name: up-b-u5203x338b, across-b-u5203x338b;
    animation-duration: 10s, 6.5s;
    animation-timing-function: ease-in-out, linear;
    animation-iteration-count: 1, 1;
    animation-delay: 3.6s, 5.3s;
    position: absolute;
    right: -80px;
    top: 100px;
    z-index: 2;
    filter: blur(1px);
}

.santa4[b-u5203x338b] {
    animation-name: up-b-u5203x338b, across-b-u5203x338b;
    animation-duration: 10s, 6.5s;
    animation-timing-function: ease-in-out, linear;
    animation-iteration-count: 1, 1;
    animation-delay: 3.8s, 5.4s;
    position: absolute;
    right: -80px;
    top: 100px;
    z-index: 2;
    filter: blur(1px);
}

.santa5[b-u5203x338b] {
    animation-name: up-b-u5203x338b, across-b-u5203x338b;
    animation-duration: 10s, 6.5s;
    animation-timing-function: ease-in-out, linear;
    animation-iteration-count: 1, 1;
    animation-delay: 4s, 5.6s;
    position: absolute;
    right: -80px;
    top: 100px;
    z-index: 2;
    filter: blur(1px);
}

.fa-star[b-u5203x338b] {
    color: #0b364f;
}

.santa5 svg[b-u5203x338b] {
    fill: #06223f;
    transform: scale(-1, 1);
}

@keyframes up-b-u5203x338b {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes across-b-u5203x338b {
    from {
        right: 0%;
    }

    to {
        right: 100%;
    }
}

.fa-snowflake[b-u5203x338b] {
    color: #ecf2f8;
}

.snow[b-u5203x338b] {
    width: 100%;
    height: 100%;
    position: absolute;
}

.snowflake[b-u5203x338b] {
    animation-name: fall-b-u5203x338b, shake-b-u5203x338b;
    animation-duration: 10s, 5s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    position: absolute;
    left: 200px;
    z-index: 7;
    scale: 1.5;
    filter: blur(0.5px);
}

.snowflake1[b-u5203x338b] {
    animation-name: fall-b-u5203x338b, shake-b-u5203x338b;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    position: absolute;
    left: 500px;
    top: -100px;
    animation-delay: 1s, 1s;
    z-index: 7;
    scale: 2;
    filter: blur(0.5px);
}

.snowflake2[b-u5203x338b] {
    animation-name: fall-b-u5203x338b, shake-b-u5203x338b;
    animation-duration: 8s, 5s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    position: absolute;
    left: 20px;
    top: -100px;
    scale: .8;
    animation-delay: 2s, 2s;
    z-index: 7;
    filter: blur(0.5px);
}

.snowflake3[b-u5203x338b] {
    animation-name: fall-b-u5203x338b, shake-b-u5203x338b;
    animation-duration: 9s, 5s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    position: absolute;
    right: 170px;
    top: -100px;
    animation-delay: 3s, 5s;
    z-index: 5;
    filter: blur(0.7px);
}

.snowflake4[b-u5203x338b] {
    animation-name: fall-b-u5203x338b, shake-b-u5203x338b;
    animation-duration: 15s, 5s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    position: absolute;
    right: 430px;
    top: -100px;
    scale: 2.5;
    animation-delay: 4s, 4s;
    z-index: 20;
}

.snowflake5[b-u5203x338b] {
    animation-name: fall-b-u5203x338b, shake-b-u5203x338b;
    animation-duration: 15s, 4s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    position: absolute;
    left: 500px;
    top: -100px;
    animation-delay: 6s, 2s;
    font-size: 2rem;
    z-index: 6;
    scale: 1.2;
    filter: blur(0.5px);
}

.snowflake6[b-u5203x338b] {
    animation-name: fall-b-u5203x338b, shake-b-u5203x338b;
    animation-duration: 12s, 5s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    position: absolute;
    left: 75px;
    top: -100px;
    animation-delay: 3.2s, 2s;
    font-size: 2rem;
    scale: .7;
    z-index: 6;
}

.snowflake7[b-u5203x338b] {
    animation-name: fall-b-u5203x338b, shake-b-u5203x338b;
    animation-duration: 11s, 5s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    position: absolute;
    left: 650px;
    top: -100px;
    animation-delay: 7.2s, 1s;
    z-index: 7;
    scale: 1.7;
}

.snowflake8[b-u5203x338b] {
    animation-name: fall-b-u5203x338b, shake-b-u5203x338b;
    animation-duration: 12s, 4s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    position: absolute;
    left: 820px;
    top: -100px;
    animation-delay: 4s, 2s;
    font-size: 2rem;
    z-index: 5;
    filter: blur(0.5px);
}

.snowflake9[b-u5203x338b] {
    animation-name: fall-b-u5203x338b, shake-b-u5203x338b;
    animation-duration: 12s, 4s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    position: absolute;
    left: 170px;
    top: -100px;
    animation-delay: 5s, 2s;
    font-size: 2rem;
    z-index: 5;
    filter: blur(0.3px);
}

.snowflake10[b-u5203x338b] {
    animation-name: fall-b-u5203x338b, shake-b-u5203x338b;
    animation-duration: 15s, 9s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    position: absolute;
    left: 350px;
    top: -100px;
    animation-delay: 2.7s, 2s;
    font-size: 3rem;
    z-index: 20;
}

.snowflake11[b-u5203x338b] {
    animation-name: fall-b-u5203x338b, shake-b-u5203x338b;
    animation-duration: 12s, 7s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    position: absolute;
    right: 400px;
    top: -100px;
    animation-delay: 0.5s, 2s;
    font-size: 3rem;
    z-index: 7;
}

.snowflake12[b-u5203x338b] {
    /*small*/
    animation-name: fall-b-u5203x338b, shake-b-u5203x338b;
    animation-duration: 12s, 5s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    position: absolute;
    left: 470px;
    top: -100px;
    animation-delay: 5s, 2s;
    z-index: 1;
    filter: blur(0.9px);
}

.snowflake13[b-u5203x338b] {
    /*small*/
    animation-name: fall-b-u5203x338b, shake-b-u5203x338b;
    animation-duration: 10s, 5s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    position: absolute;
    right: 220px;
    top: -100px;
    animation-delay: 1s, 2s;
    z-index: 1;
    filter: blur(0.6px);
}

.snowflake14[b-u5203x338b] {
    /*small*/
    animation-name: fall-b-u5203x338b, shake-b-u5203x338b;
    animation-duration: 9s, 4s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    position: absolute;
    right: 140px;
    top: -100px;
    animation-delay: 2s, 2s;
    z-index: 1;
    filter: blur(0.5px);
}

@keyframes fall-b-u5203x338b {
    0% {
        top: -10%;
    }

    100% {
        top: 100%;
    }
}

@keyframes shake-b-u5203x338b {
    0% {
        transform: translatex(0);
    }

    50% {
        transform: translatex(50px);
    }

    100% {
        transform: translatex(0);
    }
}

.mountains[b-u5203x338b] {
    width: 100%;
    position: relative;
    margin-left: calc(50% - 600px)
}

.mt1[b-u5203x338b] {
    position: absolute;
    content: "";
    left: 100px;
    bottom: 0;
    border-top: 0px solid transparent;
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
    border-bottom: 300px solid #0b364f;
    z-index: 3;
}
/*the bottom border is the only thing we see for the mts, so we give it a color. 300px is the height of the mt. All other borders should be transparent the width of the other borders will determine the angle of the triangle.*/

.mtsnow1[b-u5203x338b] {
    position: absolute;
    content: "";
    left: -50px;
    bottom: -100px;
    border-top: 0px solid transparent;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-bottom: 100px solid #c1cfd7;
}

.snow-peak-1a[b-u5203x338b] {
    /*sharp snow edge*/
    position: absolute;
    content: "";
    bottom: -130px;
    left: -45px;
    border-top: 30px solid #c1cfd7;
    border-right: 25px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 25px solid transparent;
}

.snow-peak-1b[b-u5203x338b] {
    position: absolute;
    content: "";
    bottom: -130px;
    left: -7px;
    border-top: 30px solid #c1cfd7;
    border-right: 25px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 25px solid transparent;
}

.mt2[b-u5203x338b] {
    position: absolute;
    content: "";
    left: -20px;
    bottom: 0;
    border-top: 0px solid transparent;
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
    border-bottom: 200px solid #094669;
    z-index: 6;
}

.snow2[b-u5203x338b] {
    position: absolute;
    content: "";
    left: -75px;
    bottom: -98px;
    border-top: 0px solid transparent;
    border-right: 75px solid transparent;
    border-left: 75px solid transparent;
    border-bottom: 100px solid #e4e8eb;
}

.snow-peak-2a[b-u5203x338b] {
    position: absolute;
    content: "";
    bottom: -110px;
    left: -60px;
    border-top: 20px solid #e4e8eb;
    border-right: 25px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 25px solid transparent;
}

.snow-peak-2b[b-u5203x338b] {
    position: absolute;
    content: "";
    bottom: -120px;
    left: -25px;
    border-top: 30px solid #e4e8eb;
    border-right: 25px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 25px solid transparent;
}

.snow-peak-2c[b-u5203x338b] {
    position: absolute;
    content: "";
    bottom: -110px;
    right: -60px;
    border-top: 20px solid #e4e8eb;
    border-right: 25px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 25px solid transparent;
}

.mt3[b-u5203x338b] {
    position: absolute;
    content: "";
    left: 280px;
    bottom: 0;
    border-top: 0px solid transparent;
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
    border-bottom: 175px solid #094669;
    z-index: 6;
}

.snow3[b-u5203x338b] {
    position: absolute;
    content: "";
    left: -70px;
    bottom: -80px;
    border-top: 0px solid transparent;
    border-right: 70px solid transparent;
    border-left: 70px solid transparent;
    border-bottom: 90px solid #e4e8eb;
}

.snow-peak-3a[b-u5203x338b] {
    position: absolute;
    content: "";
    bottom: -100px;
    left: -60px;
    border-top: 30px solid #e4e8eb;
    border-right: 25px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 25px solid transparent;
}

.snow-peak-3b[b-u5203x338b] {
    position: absolute;
    content: "";
    bottom: -100px;
    left: -20px;
    border-top: 30px solid #e4e8eb;
    border-right: 25px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 25px solid transparent;
}

.snow-peak-3c[b-u5203x338b] {
    position: absolute;
    content: "";
    bottom: -100px;
    right: -20px;
    border-top: 30px solid #e4e8eb;
    border-right: 25px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 25px solid transparent;
}

.snow-peak-3d[b-u5203x338b] {
    position: absolute;
    content: "";
    bottom: -100px;
    right: -60px;
    border-top: 30px solid #e4e8eb;
    border-right: 25px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 25px solid transparent;
}

.mt4[b-u5203x338b] {
    position: absolute;
    content: "";
    left: 800px;
    bottom: 0;
    border-top: 0px solid transparent;
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
    border-bottom: 250px solid #0b364f;
    z-index: 3;
}

.snow4[b-u5203x338b] {
    position: absolute;
    content: "";
    left: -47px;
    bottom: -75px;
    border-top: 0px solid transparent;
    border-right: 47px solid transparent;
    border-left: 47px solid transparent;
    border-bottom: 80px solid #c1cfd7;
}

.snow-peak-4a[b-u5203x338b] {
    /*sharp snow edge*/
    position: absolute;
    content: "";
    bottom: -100px;
    left: -45px;
    border-top: 30px solid #c1cfd7;
    border-right: 25px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 25px solid transparent;
}
/* the sharp snow edge an is INVERTED triangle, so we want to see the the top border,not bottom. Top border should have a color. Other borders should be transparent*/

.snow-peak-4b[b-u5203x338b] {
    position: absolute;
    content: "";
    bottom: -100px;
    left: -7px;
    border-top: 30px solid #c1cfd7;
    border-right: 25px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 25px solid transparent;
}

.mt5[b-u5203x338b] {
    position: absolute;
    content: "";
    left: 500px;
    bottom: 0;
    border-top: 0px solid transparent;
    border-right: 200px solid transparent;
    border-left: 200px solid transparent;
    border-bottom: 150px solid #094669;
    z-index: 6;
}

.snow5[b-u5203x338b] {
    position: absolute;
    content: "";
    left: -100px;
    bottom: -75px;
    border-top: 0px solid transparent;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    border-bottom: 75px solid #e4e8eb;
}

.snow-peak-5a[b-u5203x338b] {
    position: absolute;
    content: "";
    bottom: -95px;
    left: -60px;
    border-top: 20px solid #e4e8eb;
    border-right: 25px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 25px solid transparent;
}

.snow-peak-5b[b-u5203x338b] {
    position: absolute;
    content: "";
    bottom: -100px;
    left: -25px;
    border-top: 30px solid #e4e8eb;
    border-right: 25px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 25px solid transparent;
}

.snow-peak-5c[b-u5203x338b] {
    position: absolute;
    content: "";
    bottom: -95px;
    right: -60px;
    border-top: 20px solid #e4e8eb;
    border-right: 25px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 25px solid transparent;
}

.mt6[b-u5203x338b] {
    position: absolute;
    content: "";
    left: 950px;
    bottom: 0;
    border-top: 0px solid transparent;
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
    border-bottom: 175px solid #094669;
    z-index: 6;
}

.snow6[b-u5203x338b] {
    position: absolute;
    content: "";
    left: -70px;
    bottom: -80px;
    border-top: 0px solid transparent;
    border-right: 70px solid transparent;
    border-left: 70px solid transparent;
    border-bottom: 90px solid #e4e8eb;
}

.snow-peak-6a[b-u5203x338b] {
    position: absolute;
    content: "";
    bottom: -100px;
    left: -60px;
    border-top: 30px solid #e4e8eb;
    border-right: 25px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 25px solid transparent;
}

.snow-peak-6b[b-u5203x338b] {
    position: absolute;
    content: "";
    bottom: -100px;
    left: -20px;
    border-top: 30px solid #e4e8eb;
    border-right: 25px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 25px solid transparent;
}

.snow-peak-6c[b-u5203x338b] {
    position: absolute;
    content: "";
    bottom: -100px;
    right: -20px;
    border-top: 30px solid #e4e8eb;
    border-right: 25px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 25px solid transparent;
}

.snow-peak-6d[b-u5203x338b] {
    position: absolute;
    content: "";
    bottom: -100px;
    right: -60px;
    border-top: 30px solid #e4e8eb;
    border-right: 25px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 25px solid transparent;
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-4et9nt0az7] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-4et9nt0az7] {
    flex: 1;
}

.sidebar[b-4et9nt0az7] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-4et9nt0az7] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-4et9nt0az7]  a, .top-row[b-4et9nt0az7]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-4et9nt0az7]  a:hover, .top-row[b-4et9nt0az7]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-4et9nt0az7]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-4et9nt0az7] {
        justify-content: space-between;
    }

    .top-row[b-4et9nt0az7]  a, .top-row[b-4et9nt0az7]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-4et9nt0az7] {
        flex-direction: row;
    }

    .sidebar[b-4et9nt0az7] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-4et9nt0az7] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-4et9nt0az7]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-4et9nt0az7], article[b-4et9nt0az7] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-dd71gc7ckh] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-dd71gc7ckh] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-dd71gc7ckh] {
    font-size: 1.1rem;
}

.bi[b-dd71gc7ckh] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-dd71gc7ckh] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-dd71gc7ckh] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-dd71gc7ckh] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-dd71gc7ckh] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-dd71gc7ckh] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-dd71gc7ckh] {
        padding-bottom: 1rem;
    }

    .nav-item[b-dd71gc7ckh]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-dd71gc7ckh]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-dd71gc7ckh]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-dd71gc7ckh] {
        display: none;
    }

    .collapse[b-dd71gc7ckh] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-dd71gc7ckh] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Pages/ChristmasForm/ChristmasForm.razor.rz.scp.css */


h1[b-fj1y1i033o] {
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: bold;
    font-style: normal;
    font-family: "Mountains of Christmas", serif;
    line-height: 0;
    color: #e10000;
    filter: drop-shadow(2px 4px 6px green);
}

h2[b-fj1y1i033o] {
    font-family: "Playwrite AU NSW", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 2.5em;
    text-align: right;
    text-transform: lowercase;
    margin-bottom: .5em;
}

h3[b-fj1y1i033o] {
    font-family: "Playwrite AU NSW", cursive;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: .5em;
}

input[b-fj1y1i033o], select[b-fj1y1i033o] {
    border-bottom: 1px dashed red;
    padding: .5em;
}

input:focus[b-fj1y1i033o], select:focus[b-fj1y1i033o]
{    
    outline: none;
}

label[b-fj1y1i033o] {
    font-size: .8em;
}

label strong[b-fj1y1i033o] {
    text-transform: uppercase;
    letter-spacing: .2em;
    font-family: "Playwrite AU NSW", cursive;
}

button[b-fj1y1i033o] {
    padding: .1em 1em;
    border-radius: 2em;
    font-size: 1.5em;
    background-color: #00badc;
    color: white;
    text-transform: uppercase;
    font-family: "Mountains of Christmas", serif;
    box-shadow: 1px 2px 3px #00000050;
}

    button:hover[b-fj1y1i033o] {
        background-color: #00a9c7;
    }

    button:active[b-fj1y1i033o] {
        background-color: #00a0b8;
        box-shadow: none;
        transform: translateY(2px);
    }
