@page "/projects"
@inject ProjectsService ProjectsService

<PageTitle>Projects</PageTitle>

<div>
    <div class='m-2 grid gap-2'>
    <h1 class='text-5xl text-[var(--bg-box-light)]  title-text'>
        Projects
    </h1>
    <p class='text-[var(--text-dark)] mr-10'>
            Every day is an opportunity to face a new challenge and learn something new.  This is a collection of a few of the projects that I have 
            worked on over the years and how I've worked with my clients to understand their need and to provide them with a solution that solves the
            problem they are facing.
    </p>
    </div>
    <div class='flex flex-wrap gap-4 justify-around'>
        @foreach(var project in Projects ?? [])
        {
            <BlogCard Project="@project" />
        }
    </div>
</div>

@code {

    Project[]? Projects { get; set; }

    protected override void OnInitialized()
    {
        Projects = ProjectsService.GetProjects();
    }
}
