
<div id='profile' class='text-center grid content-start justify-center justify-items-center bg-[var(--bg-box-light)] p-10 tracking-wider'>
    <div class=profile-img></div>
    <p class='font-bold text-xl mt-9'>Michael Cauley</p>
    <ul class='font-semibold grid gap-1 text-[var(--text-dark)] mt-2 text-xs'>
        <li>Software Engineer</li>
        <li>Automation Engineer</li>
        <li>Data Analyst</li>
    </ul>
</div>