<div>
    <div class=wrapper>       
    <div class=wrapper-bg-image></div>
    <div class='p-10 grid'> 
        <div class='
        xl:text-6xl lg:text-5xl sm:text-3xl text-2xl
        font-bold md:mt-20 mt-10
        '>
            <h1>Explore my cutting-edge solutions!</h1>
        </div>
        <div class='
        font-semibold mt-20
        xl:text-xl lg:text-lg sm:text-md text-sm
        '>
        <p>
            Transforming opportunities into meticulously crafted, purpose-driven applications.
        </p>
        </div>
            <NavLink href="projects" class="md:text-xl text-sm
                uppercase mt-10 bg-[var(--accent)] w-fit py-3 px-8 font-semibold
                hover:bg-[var(--accent-bold)] transition-colors">
            Explore Projects
        </NavLink>
    </div>
    </div>
</div>

@code {

}
