.wrapper {
    width: 100%;
    height: 36em;
    border-radius: 10px;
    position: relative;
}

.wrapper-bg-image {
    position: absolute;
    background-image: url('images/bg_geometry.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 20%;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .wrapper {
        height: 24em;
    }
}
