@inject ProjectsService ProjectsService

<div class='flex flex-wrap gap-4 justify-around'>
    @if (Projects is not null)
    {        
        @foreach (var project in Projects)
        {
            <BlogCard Project="@project" />
        }
    }
</div>

@code {
    Project[]? Projects { get; set; }

    protected override void OnInitialized()
    {
        Projects = ProjectsService.GetProjects().Take(6).ToArray();
    }
}
