
<div id='socials' class='text-center grid content-start justify-items-center bg-[var(--bg-box-light)] py-5 px-10 tracking-wider'>
    <ul class='grid grid-cols-2 justify-around justify-items-center w-full'>
        <li class='hover:scale-125 cursor-pointer transition-all'>
            <a href='https://github.com/jmcauley04' target="_blank">
                <GitHub />
            </a>
        </li>
        <li class='hover:scale-125 cursor-pointer transition-all'>
            <a href='https://www.linkedin.com/in/joseph-cauley-software-engineer' target="_blank">
                <LinkedIn />
            </a>
        </li>
    </ul>
</div>
