
<div class='mb-8'>
    <div class='flex place-items-center'>
        <h1 class='flex-grow text-5xl'>
            @Title
        </h1>
        <h5 class="text-sm font-bold tracking-widest uppercase tag @(Tag == "Professional" ? "tag-professional" : "tag-personal")">
            @Tag
        </h5>
    </div>
    <h2 class='flex-grow text-2xl mt-2'>
        @Subtitle</h2>
    <p class='uppercase text-[var(--text-dark)] mt-4'>
        @Date
    </p>
</div>

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Date { get; set; }

    [Parameter]
    public string? Tag { get; set; }

    [Parameter]
    public string? Subtitle { get; set; }
}
