
<p class='text-xl leading-10 my-6
    [&>strong]:text-2xl [&>strong]:text-[var(--accent)]
    [&>a]:text-[var(--text-link)] [&>a:hover]:text-[var(--text-link-hover)]
    [&>ol]:list-decimal [&>ul]:list-disc [&_li]:ml-6 [&_li]:mb-4 [&_li]:mt-2 [&_li]:leading-8
    '>
    @ChildContent
</p>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
