
<div class='border-l-2 p-2 text-[var(--text-dark)] border-[var(--text-dark)]'>
    <p class='text-xl'>
        @ChildContent
    </p>
    <p class='text-right'>
        - @Author
    </p>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string Author { get; set; } = string.Empty;
}
