
<div class='
      w-full justify-center font-mono
      border-b border-gray-300 bg-gradient-to-b
      from-zinc-200 pb-6 pt-8 backdrop-blur-2xl
      dark:border-neutral-800 dark:bg-zinc-800/30
      dark:from-inherit lg:static lg:w-auto
      lg:rounded-xl lg:border lg:bg-gray-200
      lg:p-4 lg:dark:bg-zinc-800/30'>
    @foreach(var line in Lines)
    {
        <pre>
            @line
        </pre>        
    }
</div>

@code {
    [Parameter]
    public string[] Lines { get; set; } = [];
}
