@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start: hsl(229, 43%, 9%);
    --background-end: hsl(210, 35%, 6%);
    --accent: hsl(54, 62%, 48%);
    --accent-bold: hsl(54, 77%, 58%);
    --alt-accent: hsl(157, 81%, 36%);
    --text-dark: rgb(148 163 184);
    --bg-box-darker: hsl(222, 47%, 7%);
    --bg-box-dark: hsl(222, 47%, 11%);
    --bg-box-light: hsl(222, 47%, 14%);
    --bg-box-lighter: hsl(222, 47%, 18%);
    --bg-color: rgba(9, 14, 26, .8);
    --tag-project: hsl(54, 77%, 58%);
    --text-link: hsl(219, 77%, 58%);
    --text-link-hover: hsl(219, 77%, 68%);
}

/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 7px;
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
    background: var(--bg-box-dark);
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
    background: var(--bg-box-lighter);
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: var(--bg-box-light);
    }

.title-text{
    letter-spacing: .2em;
    text-transform: uppercase;
    font-weight:bold;
}

h1 {
    user-select: none;
    outline: 0;
}

html {
    font-size: 12px;
}

.svg-fill {
    fill: var(--text-dark);
}
.tag {
    padding: 0.2em 1em;
    border-radius: 10px;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: grid;
    place-items: center;
}

.tag-personal {
    background-color: var(--alt-accent);
}

.tag-professional {
    background-color: var(--accent-bold);
    color: var(--background-start);
}

.stroke-dark {
    stroke: var(--bg-box-lighter);
}

.stroke-accent {
    stroke: var(--accent);
}

.code-languages .blurb {
    pointer-events: none;
    position: absolute;
    bottom: 100%;
    left: 100%;
    width: 350px;
    padding: 1em;
    background-color: hsla(222, 49%, 7%, 0.8);
    transition-property: opacity;
    transition-duration: .5s;
    transition-delay: .25s;
    opacity: 0;
    font-size: 9px;
    line-height: 1.3em;
    border-radius: 10px;
    border: 1px solid var(--bg-box-lighter);
}

.code-languages li .skill-circle {
    position: relative;
    transition: scale 0.5s;
    cursor: pointer;
}

.code-languages:hover .skill-circle {
    scale: .8;
}

.code-languages li:hover .skill-circle {
    scale: 1.5;
}

    .code-languages li:hover .blurb {
        opacity: 1;
    }


body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(135deg, var(--background-start), var(--background-end));
    display: grid;
    grid-template-columns: 1fr min-content;
}

.nav-activator {
    position: relative;
    width: calc(32px + 3rem);
    overflow: visible;
}

    .nav-activator ul {
        position: absolute;
        right: calc(32px + 3rem);
        top: 0;
        height: 100%;
        align-items: center;
        justify-content: end;
        list-style-type: none;
        padding: 0;
        width: max-content;
        display: flex;
        width: 0;
        transition-duration: 0.5s;
        transition-property: width, padding;
        overflow: hidden;
        white-space: nowrap;
        background-color: hsla(222, 47%, 11%, .5);
        text-transform: uppercase;
        letter-spacing: .3em;
        font-weight: bold;
    }

    .nav-activator:hover ul {
        width: calc(100vw - 32px - 3rem);
        padding: 1.5rem;
    }

.problem-to-solution {
    background: url('images/problem_solution.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@media screen and (max-width: 640px) {
    body {
        grid-template-columns: 1fr;
    }

    nav {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .profile-sidebar {
        margin-right: 1.25rem;
        margin-bottom: 1.25rem;
        grid-column: span 12 / span 12;
        display: grid;
        grid-template:
            "profile skills" 1fr
            "social  skills" min-content
            / 1fr 3fr;
    }

    #skills {
        grid-row: span 2 / span 2;
    }
}

@media screen and (max-width: 460px) {
    .profile-sidebar {
        grid-template:
            "profile" 1fr
            "skills" min-content
            "social" min-content
            / 1fr;
    }
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }