@page "/my-hometown"

<PageTitle>My Hometown</PageTitle>

<div>
    <div class='m-2 grid gap-2'>
        <h1 class='text-5xl text-[var(--bg-box-light)] title-text'>
            Douglas, Georgia
        </h1>

    </div>
</div>

@code {

}
