@page "/blogs"

<PageTitle>Blogs</PageTitle>

<div>
    <div class='m-2 grid gap-2'>
        <h1 class='text-5xl text-[var(--bg-box-light)] title-text'>
            Blogs
        </h1>
        <h3 class="title-text">Under Construction!</h3>
    </div>
</div>

@code {

}
