@inherits LayoutComponentBase

<div class="grid w-[100vw] h-[100vh]">
    @Body

	<section class="sleigh hidden md:block">
		<div class="santa">🦌</div>
		<div class="santa1">🦌</div>
		<div class="santa2">🦌</div>
		<div class="santa3">🦌</div>
		<div class="santa4">🦌</div>
		<div class="santa5">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" height="40px">
				<path d="M32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l0 160c0 53 43 96 96 96l0 32 64 0 0-32 192 0 0 32 64 0 0-32c53 0 96-43 96-96l0-96c17.7 0 32-14.3 32-32s-14.3-32-32-32l-32 0-32 0c-17.7 0-32 14.3-32 32l0 41.3c0 30.2-24.5 54.7-54.7 54.7c-75.5 0-145.6-38.9-185.6-102.9l-4.3-6.9C174.2 67.6 125 37.6 70.7 32.7c-2.2-.5-4.4-.7-6.7-.7l-9 0L32 32zM640 384c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 8c0 13.3-10.7 24-24 24L64 416c-17.7 0-32 14.3-32 32s14.3 32 32 32l488 0c48.6 0 88-39.4 88-88l0-8z" />
			</svg>
		</div>
	</section>
	<section class="snow overflow-hidden">
		<div class="snowflake"><my_web.mc.SVGs.Snowflake /></div>
		<div class="snowflake1"><my_web.mc.SVGs.Snowflake /></div>
		<div class="snowflake2"><my_web.mc.SVGs.Snowflake /></div>
		<div class="snowflake3"><my_web.mc.SVGs.Snowflake /></div>
		<div class="snowflake4"><my_web.mc.SVGs.Snowflake /></div>
		<div class="snowflake5"><my_web.mc.SVGs.Snowflake /></div>
		<div class="snowflake6"><my_web.mc.SVGs.Snowflake /></div>
		<div class="snowflake7"><my_web.mc.SVGs.Snowflake /></div>
		<div class="snowflake8"><my_web.mc.SVGs.Snowflake /></div>
		<div class="snowflake9"><my_web.mc.SVGs.Snowflake /></div>
		<div class="snowflake10"><my_web.mc.SVGs.Snowflake /></div>
		<div class="snowflake11"><my_web.mc.SVGs.Snowflake /></div>
		<div class="snowflake12"><my_web.mc.SVGs.Snowflake /></div>
		<div class="snowflake13"><my_web.mc.SVGs.Snowflake /></div>
		<div class="snowflake14"><my_web.mc.SVGs.Snowflake /></div>
	</section>
	<section class="mountains hidden md:block">
		<div class='mt1'>
			<div class="mtsnow1"></div>
			<div class="snow-peak-1a"></div>
			<div class="snow-peak-1b"></div>
		</div>
		<div class="mt2">
			<div class="snow2"></div>
			<div class="snow-peak-2a"></div>
			<div class="snow-peak-2b"></div>
			<div class="snow-peak-2c"></div>
		</div>
		<div class="mt3">
			<div class="snow3"></div>
			<div class="snow-peak-3a"></div>
			<div class="snow-peak-3b"></div>
			<div class="snow-peak-3c"></div>
			<div class="snow-peak-3d"></div>
		</div>
		<div class='mt4'>
			<div class="snow4"></div>
			<div class="snow-peak-4a"></div>
			<div class="snow-peak-4b"></div>
		</div>
		<div class="mt5">
			<div class="snow5"></div>
			<div class="snow-peak-5a"></div>
			<div class="snow-peak-5b"></div>
			<div class="snow-peak-5c"></div>
		</div>
		<div class="mt6">
			<div class="snow6"></div>
			<div class="snow-peak-6a"></div>
			<div class="snow-peak-6b"></div>
			<div class="snow-peak-6c"></div>
			<div class="snow-peak-6d"></div>
		</div>
	</section>
</div>
