@inherits LayoutComponentBase
<div class="page">    
    <div class="absolute top-0 left-0 grid grid-flow-col text-6xl gap-20 w-[calc(100vw-2em)] overflow-hidden h-20 -z-10 text-[var(--bg-box-light)] m-4">
        my-web.mc
    </div>
    <div class="grid grid-cols-12 mt-24 w-[100%]">          
        <div class="pl-5 md:grid md:col-span-3 md:auto-rows-max profile-sidebar">
            <Profile />
            <Skills />
            <Socials />
        </div>
        <div class="col-span-12 md:col-span-9 px-5">
            @Body
        </div>
    </div>
    <NavMenu />
</div>
